.App {
  font-family: sans-serif;
}

.school-name-row {
  background-color: gray;
}

.dropdown-list {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: none;
  overflow: hidden;
  text-indent: 0.01px;
  text-overflow: "";

  background: url("https://img.icons8.com/material/24/000000/sort-down.png")
    no-repeat right #fff;
}
